@charset "utf-8";
body{
    margin: 0;
    padding: 0;
}

#loginWrap{
    width: 80%;
    margin: 200px auto;
    text-align: center;
}

#wrap{
    width: 80%;
    margin: 0 auto;
    background-color: azure;
}

.contentItem{
    margin: 20px 0;
    border: 1px solid #000;
    line-height: 1.5em
}

.contentItem h2{
    border-bottom: 1px solid #000;
}