@charset "utf-8";
body{
    margin: 0;
    padding: 0;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

h2{
    font-size: 1;
    font-weight: normal;
}

#loginWrap{
    width: 80%;
    margin: 200px auto;
    text-align: center;
}

#loginWrap table{
    width: 250px;
    margin:0 auto; 
}

#wrap{
    background-color: azure;
}

.contentItem{
    margin: 20px 0;
    border: 1px solid #000;
    line-height: 1.5em
}

.contentItem h2{
    border-bottom: 1px solid #000;
}
